@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  background: #28223F;
	font-family: 'Montserrat', sans-serif;
  padding: 3rem;
}
.main_container{
  padding: 5rem;
  width: 80%;
  height: 100vh;
  border: 0.5rem solid #000;
  display: block;
  margin: auto;
  border-radius: 1rem;
}
.profile{
  background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding: 30px;
	/* position: relative; */
	width: 350px;
	max-width: 100%;
  height: 100%;
	text-align: center;
  margin: auto;
}
.profile .profile_card h1{
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}
.profile_card img{
  width: 100%;
  border: 0.1rem solid #03BFCB;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  transition: 0.5s ease-in-out;
  margin-bottom: 2rem;
}
.profile_card img:hover{
  transform: scale(1.1);
}
#startButtonId a img{
  width: 8rem;
  height: 8rem;
}



