@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #28223f;
  font-family: "Montserrat", sans-serif;
  padding: 3rem;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
  justify-content: center;
}

.profile_card1 {
  background-color: #6f6894;
  display: flex;
  /* flex-direction: row; */
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding: 30px;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
.profile_card {
  background-color: #6f6894;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding: 30px;
  text-align: center;
  max-width: 350px;
  width: 100%;
}

.profile_card h1 {
  color: #fff;
  font-size: large;
  margin-bottom: 2rem;
}

.profile_card img {
  width: 100%;
  max-height: 40%; /* Set a maximum height for the image within the card */
  border: 0.1rem solid #03bfcb;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  transition: 0.5s ease-in-out;
  margin-bottom: 2rem;
}

.profile_card img:hover {
  transform: scale(1.05);
}

#startButtonId {
  display: flex;
  justify-content: center;
}

#startButtonId a {
  margin: 0 0.5rem;
}

#startButtonId a img {
  width: 8rem;
  height: 8rem;
}

/* Additional styles to center the second card */
@media (min-width: 768px) {
  .profile_card:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
}
