html {
  font-size: 1em;
}

body {
  margin: 0;
  background-color: #dededf;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: black;
  /* background-color: #dfdce3; */
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

img {
  height: 48px;
}

h1 {
  margin-top: 0;
  font-size: 2.5em;
  font-style: italic;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

small,
.font_small {
  font-size: 0.707em;
}

.container {
  margin:0 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 10px;
    grid-template-columns: auto;
  }
}

header {
  background: #000000;
  padding: 20px;
  margin: 0;
}
header h1 {
  float: left;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #000000;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

nav a:hover {
  /* box-shadow: inset 0 -26px 0 0 blue; */
  color: black;
  background-color: white;
}

footer {
  padding: 20px 30px 20px;
  color: white;
  background-color: #000000;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

footer span{
  font-weight:bold;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 5px;
}

dd {
  margin-bottom: 20px;
}

.skills {
  margin-left: -40px;
}

.skills a {
  font-size: 15px;
  display:block;
}

#register {
  margin-bottom: 140px;
}

#descriptionimg {
  height: 80%;
  width: 80%;
  border-radius: 10px
}

aside{
  text-align:center;
}

aside ul{
  float:left;
  text-align:center;
}

.ulone{
  float:left;
  margin-left:10%;
}

.ultwo{
  float:right;
  margin-right:10%;
}

main{
  text-align:justify;
  text-align:center;
  margin:0;
  padding:0;
}

#picbox{
  height:473px;
}
.container1{
  margin:auto;
  width:60%;
}
.container1 h2{
  font-size:30px;
  font-weight:bolder;
}