#instructor_container {
  max-width: 1250px;
  margin: 0 auto;
}

.navbar-collapse {
  color: #000 !important;
}
.navbar a {
  color: black !important;
}

.navbar a:hover {
  transform: scale(1.1);
  color: #000;
  /* background-color: rgb(219, 255, 255); */
}

.theme-toggle-text {
  color: black;
}

#instructor-title {
  padding-right: 20px;
  transition: all 1s;
}

#instructor-img {
  border-radius: 50%;
  margin-left: auto;
  width: 200px;
  height: 200px;
  transition: all 1s;
}

#myBtn {
  border: 0;
  background-color: #91308e;
  padding: 0.45rem 0.9rem;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

/*

#instructor-img:hover, #instructor-title:hover {
    transform: scale(1.1);
}

removed unnecessary scale

*/

.about-container {
  padding: 100px 10% 20px;
  font-family: 'Montserrat', sans-serif;
  /* display: flex; issue with heading and page layout */
  display: block;
  max-width: 1800px;
  margin-top: 5rem;
  text-align: center;
}

.info {
  border-left: 1px solid #000;
  text-align: left;
}

.about-container h2 {
  margin-bottom: 2%;
  border-bottom: 1px dotted #000;
  padding: 0 0 15px;
  /* display: flex; */
}
.list-group {
  margin: 2.5% auto;
  font-family: 'Montserrat', sans-serif;
}
/* .list-group-item:first-child {
  border-top: none;
} */

.list-group-item {
  background-color: transparent !important;
  transition: all 0.2s ease-in-out;
  margin: 8px;
}

.about-instructor {
  margin: 0px 5vw;
  text-align: justify;
}

#about-title {
  text-align: center;
  padding: 10px;
}
#about-title:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

#myBtn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.card {
  margin-right: 2%;
  box-shadow: none;
}

.card:hover {
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.288);
}

.card-desc {
  padding: 10%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .info {
    border-left: 1px solid #000;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .about-container h3 {
    font-size: 1.5rem;
  }

  .info {
    border-left: none;
  }

  .about-container h2 {
    border-bottom: 1px solid #000;
  }
}

@media (max-width: 767px) {
  .info {
    border-left: none;
  }
  .about-container h3 {
    font-size: 1.2rem;
  }
}
