#instructor_container {
  max-width: 1250px;
  margin: 0 auto;
}

.navbar-collapse {
  color: white !important;
}
.navbar a {
  color: white !important;
}
.navbar a:hover {
  transform: scale(1.1);
  background-color: #d1d1d1;
  color: #000 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.navbar-light.scrolled {
  /* background-color: black !important; */
  color: white !important;
  transition: background-color 200ms ease-out;
}
