body, html {
    max-width: 100%;
    overflow-x: hidden;
}
.focus:focus{
    border: 2px solid black;
}

/* Added Pikachu animation */

.running_pikachu img{
    padding-left: 50px;
    filter: drop-shadow(0px 15px 8px rgb(82, 82, 82, 0.5));
}
.running_pikachu p{
    filter: drop-shadow(0px 15px 8px rgb(82, 82, 82, 0.5));
    font-size: 2.5em;
    font-style: italic ;
}
.running_pikachu { 
    display: flex;
    align-items: center;
    position: relative;
    animation: mymove 10s ease-in infinite;
}
@keyframes mymove {
        from {left: -550px;}
        to {left: 1900px;}
}

.m-5{
    position: relative;
    left: 37.5%;
    font-weight: 700;
}

#signup-form{
    border: 2px solid black;
}
.card-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 15px;
  }
  
 
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-check {
    margin-right: 15px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #c82333;
  }
  