.navbar-collapse {
    background-color: #fff !important;
    color: #000 !important;
}
.navbar a{
    color: black !important;
}
.register-container{
    height: auto;
    padding: 10%;
    font-family: 'Montserrat', sans-serif;
}
.register-container h1{
 text-align: center;
 margin-bottom: 5%;
}