html, body
{
    height: 100%;
}

body
{
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,79,121,1) 50%, rgba(0,212,255,1) 100%);
    overflow: hidden;
}

.container{
    position:absolute;
    top:50%;
    left:0;
    right:0;
}
nav{
    width:319px;
    display:table;
    margin: 0 auto;
    transform: translateY(-50%); 
}

nav a{
    position:relative;
    width:33.333%;
    display:table-cell;
    text-align:center;
    color:#949494;
    text-decoration:none;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav a:before, nav a:after{
    content:"";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s ease transform;
}
nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    left:12px;
    background-color: yellow;
}

nav a:nth-child(1):after
{
    left:20px;
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    left:2px;
    background-color: purple;
}

nav a:nth-child(3):after
{
    left:8px;
    background-color: palevioletred;
}

#indicator{
    position:absolute;
    left:5px;
    bottom:0;
    width:30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover{
    color:#fff;
}

nav a:hover:before, nav a:hover:after{
    transform:scale(2);
}

nav a:nth-child(1):hover ~ #indicator{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}
nav a:nth-child(3):hover ~ #indicator{
    left: 64%;
    background: linear-gradient(130deg, purple, palevioletred);
}

#ytd_link{
    position:absolute;
    right:0;
    left:0;
    bottom: -200px;
    display:block;
    width: 160px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0 auto;
    background-color: red;
    border-radius: 2px;
    animation: showYTDlink 1.5s ease 1s forwards;

}

@keyframes showYTDlink
{
    0%{ bottom: -200px; }
    100%{ bottom: 20px; }
}