body{
    background-color: rgb(31, 31, 31);
}

h2{
    text-align: center;
    margin-bottom: .4em;
}

#flexbox {
    display:flex;
    height: 100%;
    justify-content:center;
    align-items: center;
}

#card {
    background-color:yellow;
    border: solid;
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    min-height: 80%;
}

#form {
    display: flex;
    justify-content: space-around;
    margin-bottom: .4em;
}

#image{
   display:block;
   margin: auto auto;
   width: 75%;
   height: auto;
}

input {
    width: 75%;
}

button {
    width: 20%;
    background-color: inherit;
    border-radius: 5px;
    border: solid 2px;
    color: inherit;
}

button:hover {
    background-color: rgb(238, 100, 20);
}


button:active {
    background-color: rgb(238, 27, 20);
}


div {
    padding:0.4em;
}

#id {
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
}

#types {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.type {
    width: 50%;
    margin-right: 1em;
}

#conteiner{
    display: flex;
    justify-content: space-evenly;
}

#images{
    width: 45%;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.8em;
    width: 22%;
}

#error {
    border: solid 2px;
    border-radius: 5px;
    width: 94%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(165, 29, 29);
    display: none;
}