body,
html {
  width: 100%;
  height: 100%;
  color: rgb(85, 41, 0);
  font-family:'Cinzel Decorative', cursive;
  background: url(starter3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    margin: 20px auto;
    color: rgb(85, 41, 0);
    border: 3px solid rgb(85, 41, 0);
    max-width: 65px;
    opacity: 1;  
}

.buffer{
  height: 10rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
   background-color: rgb(85, 41, 0);
   border-color: rgb(85, 41, 0);
   --bs-btn-hover-bg: rgb(94, 67, 0); 
   --bs-btn-hover-border-color: rgb(94, 67, 0);
}







.btn-xl{
 
  color: whitesmoke;
  padding:1rem 2rem;
}

