* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #aa5585;
}

/* Utility Classes */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}

#page-title {
  font-size: 6rem;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 60px;
}

/* margin (for all sides) */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

/* margin (for top and bottom) */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/* margin (padding for all sides) */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

/* padding (padding for top and bottom) */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;

}

.py-3 {
  padding: 3rem 0;
}

.btn {
  text-decoration: none;
  outline: none;
  padding: 1rem 2rem;
  color: white;
  margin: 0.5rem;
  border-radius: 60px;
}

.btn:hover {
  background-color: #aa5585;
  cursor: pointer;
}

.btn-pink {
  background-color: palevioletred;
  color: white;
}

/* Style the header */
.header {
  background-color: #661141;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(238, 238, 238);
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(even) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #cd88af;
  color: #fff;
  text-decoration: line-through;
  font-weight: bold;
  transition: 0.5s all;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #661141;
  color: white;
}



.adding {
  display: inline-block;
  width: 100%;
  margin: auto;
}

/* Style the input */
input {
  margin-right: 10px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  float: center;
  font-size: 16px;

}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: rgb(255, 255, 255);
  color: #f436db;
  font-weight: 600;
}